@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Passion+One&family=Poppins:wght@300&family=Sriracha&display=swap');


:root{
    --font01: 'Poppins', sans-serif;
    --colorbackgroud: #000000;
    --backicons: #ffffff;
    --cordoslidebotao: #5479F7;
    --icones:#000000;
    --share: #ffffff;
    
    
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    
}


body{
    background-image: url(imagens/backgroud.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family:var(--font01);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.share-button{
    margin-top: -40px;
    width: 450px;
    height: 92px;
    background: var(--backicons);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.33 linear;
}

.share-button:hover{
    transform: scale(1.1);
}

.share-button span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--cordoslidebotao);
    color: var(--share);
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: 0.43 linear;
    border-radius: 12px;
    font-size: 30px;
    font-weight:600;
    

}

.share-button:hover span{
    transform: translateX(-100%);
    transition-duration: 0.3s;  
}

.share-button a {
    flex: 1;
    font-size: 35px;
    color: var(--icones);
    text-align: center;
    transform: translateX(-100%);
    opacity: 1;
    transition: 0.50s linear;
}

.share-button:hover a {
    opacity: 1;
    transform: translateX(0);
}

div.footer {
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center center;
    flex-direction: row;
    color: rgb(255, 255, 255);
   
}

div.footer a {
    color: #5479F7;
    text-decoration: none;
    
}

div.footer a:hover{
    text-decoration: underline;
    
}